{{>navbar}}

<div style="height: 90vh;" class="container p-5">
    <h3 class="text-center text-uppercase mb-4">Recipes</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CI. Paciente</th>
                <th scope="col">Paciente</th>
                <th scope="col">Medico</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each recipes}}
            <tr>
                <td class="text-uppercase">{{this.id}}</td>
                <td class="text-uppercase">{{this.cedula}}</td>
                <td class="text-uppercase">{{this.paciente}}</td>
                <td class="text-uppercase">{{this.medico}}</td>
                <td class="text-success" onclick="verInfo({{this.id}})"><button class="btn btn-primary btn-sm">Ver
                        más</button></td>
                {{!-- <td class="text-success"><a href="http://localhost:4000/recipes/editar/{{this.id}}"><button
                            class="btn btn-outline-primary btn-sm">Editar</button></a></td> --}}

                <td class="text-success" onclick="eliminar({{this.id}})"><button
                        class="btn btn-danger btn-sm">x</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    const verInfo = id => window.location.href = url + '/recipes/ver/' + id

    const eliminar = id => {
        swal({
            title: "!Aviso!",
            text: "¿Desea eliminar este recipe?",
            icon: "warning",
            dangerMode: true,
            buttons: true
        }).then(res => {
            if (res == true) {
                let resultado = fetch(`http://localhost:4000/recipes/${id}`, {
                    method: 'DELETE'
                })

                swal({
                    title: "¡Hecho!",
                    text: "Recipe eliminado exitosamente",
                    icon: "success"
                }).then(() => {
                    window.location.href = url + '/recipes'
                })
            } else {
                return
            }
        })

    }
</script>