<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 10vh;">
    <div class="container">
        <a class="navbar-brand" href="#">Farmacias</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/farmaceutas/medicamentos/registro">Registrar
                        medicamentos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="javascript:history.back()">Volver</a>
                </li>
            </ul>
        </div>
        <form class="d-flex px-5">
            <input oninput="searchRender(this.value, 'container1')" class="form-control me-2" type="search"
                placeholder="Buscar por cedula">
        </form>
        <a href="/farmaceutas/login"><button class="btn btn-danger">Salir</button></a>
    </div>
</nav>


<div style="height: 90vh;" class="container p-5">
    <h3 class="text-center text-uppercase mb-4">Recipes</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CI. Paciente</th>
                <th scope="col">Paciente</th>
                <th scope="col">Medico</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="container1">
            {{#each recipes}}
            <tr>
                <td class="text-uppercase">{{this.id}}</td>
                <td class="text-uppercase">{{this.cedula}}</td>
                <td class="text-uppercase">{{this.paciente}}</td>
                <td class="text-uppercase">{{this.medico}}</td>
                <td class="text-success" onclick="verInfo({{this.id}})"><button class="btn btn-primary btn-sm">Ver
                        más</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="text-center" id="alerta">


    </div>
</div>

<script>
    const verInfo = id => window.location.href = url + '/recipes/ver/farmacias/' + id

    const buscarPorCedula = async cedula => {

        let resultado = await fetch(`http://localhost:4000/recipes/consulta/farmacias/${cedula}`)
        let datos = await resultado.json();

        let recipes = datos.recipes

        return recipes;
    }

    const searchRender = async (cedula, idContainer) => {

        let recipes = await buscarPorCedula(cedula);

        let container = document.getElementById(idContainer);
        let html = '';

        container.innerHTML = html;

        if (recipes.length == 0) {
            document.getElementById('alerta').innerHTML = '<h5 class="text-danger">No se encontraron resultados</h5><a class="text-secondary" href="/recipes/consulta/farmacias">Ver todos</a>'
        } else {
            document.getElementById('alerta').innerHTML = ' '

            recipes.forEach(item => {
                html += `<tr>`
                html += `<th class="text-uppercase">${item.id}</th>`;
                html += `<td class="text-uppercase">${item.cedula}</td>`;
                html += `<td class="text-uppercase">${item.paciente}</td>`;
                html += `<td>${item.medico}</td>`;
                html += `<td class="text-success" onclick="verInfo({{this.id}})"><button class="btn btn-primary btn-sm">Ver
                        más</button></td>`;
                html += `</tr>`
            })
        }

        container1.innerHTML += html;
    }
</script>